.dashboard {
  /* width: 100vw; */

  display: flex;
  height: max-content;
  justify-content: center;
  padding-top: 10px;
  position: relative;
  gap: 20px;
  margin-bottom: 1rem;
  /* padding: 10px; */
  flex-wrap: wrap;
  background: rgb(238, 239, 238);
}
.dashboard > div {
  /* border: 2px solid red; */
  border-radius: 12px;

  background: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.251); */
}

@media (max-width: 1090px) {
  .dashboard {
    justify-content: right;
    padding-right: 10px;
  }
}
@media (max-width: 1040px) {
  .dashboard {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 550px) {
  .dashboard {
    flex-direction: column;
    align-items: flex-end;
  }
}
