.dashboard {
  /* width: 100vw; */
  max-height: 100%;
  min-width: fit;
  /* overflow: hidden; */
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: 2.5fr 6.5fr 3fr;
  grid-template-rows: auto;
  background: rgb(238, 239, 238);
}
.dashboard > div {
  /* border: 2px solid red; */
  border-radius: 12px;

  background: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.251); */
}
